section.main-faq
  .wide-wrapper
    .main-faq__wrapper
      .main-faq__blocks
        .main-faq__block.main-faq__block--cyan
          a(href="/")
            span.visually-hidden Как забронировать и оплатить путевку
          .inner-wrapper
            .main-faq__container
              .main-faq__bg
                picture
                  source(
                    srcset="/assets/images/main-faq/bg-cyan-2.svg" 
                    media="(min-width: 1024px)") 
                  img(src="/assets/images/main-faq/bg-cyan.svg", alt="bg-cyan")
              .main-faq__top
                .main-faq__title
                  svg.main-faq__icon(width="30" height="26" viewBox="0 0 30 26")
                    use(xlink:href="#svg-luggage")
                  h3 Как забронировать <br> и оплатить путевку
                a.main-faq__arrow.main-faq__arrow--blue(href="#")
                  svg(width="10" height="16" viewBox="0 0 10 16")
                    use(xlink:href="#svg-arrow-right")

              .main-faq__description
                p <a href="#">Исчерпывающая инструкция</a> по всем аспектам бронирования, и ответы на популярные вопросы.
        .main-faq__block.main-faq__block--blue
          a(href="/")
            span.visually-hidden Сервис бронирования Путевка - лидер по туризму и оздоровлению
          .inner-wrapper
            .main-faq__container
              .main-faq__bg
                picture
                  source(
                    srcset="/assets/images/main-faq/bg-blue-2.svg" 
                    media="(min-width: 1024px)") 
                  img(src="/assets/images/main-faq/bg-blue.svg", alt="bg-blue")
              .main-faq__top
                .main-faq__title
                  svg.main-faq__icon(width="32" height="32" viewBox="0 0 32 32")
                    use(xlink:href="#svg-trophy")
                  h3 Сервис бронирования Путевка - лидер по туризму и оздоровлению
                a.main-faq__arrow.main-faq__arrow--orange(href="#")
                  svg(width="10" height="16" viewBox="0 0 10 16")
                    use(xlink:href="#svg-arrow-right")
              .main-faq__description
                ul.main-faq__list.list
                  li Более 700 000 клиентов
                  li <a href="#">В нашей команде</a> 80 экспертов по отдыху и оздоролению
                  li Гарантий лучшей цены: уникальные акции и скидки для наших клиентов
        .main-faq__block.main-faq__block--green
          a(href="/")
            span.visually-hidden
          .inner-wrapper
            .main-faq__container
              .main-faq__bg
                picture
                  source(
                    srcset="/assets/images/main-faq/bg-green-2.svg" 
                    media="(min-width: 1024px)") 
                  img(src="/assets/images/main-faq/bg-green.svg", alt="bg-green")
              .main-faq__top
                .main-faq__title
                  svg.main-faq__icon(width="32" height="32" viewBox="0 0 32 32")
                    use(xlink:href="#svg-medical-cross")
                  h3 Как оформить санаторно- <br> курортную карту
                a.main-faq__arrow.main-faq__arrow--green(href="#")
                  svg(width="10" height="16" viewBox="0 0 10 16")
                    use(xlink:href="#svg-arrow-right")
              .main-faq__description
                p <a href="#">Пошаговый план</a> получения санаторно-куротной карты