doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(
      content="width=device-width, initial-scale=1, maximum-scale=4"
      name="viewport"
    )
    meta(content="ie=edge" http-equiv="X-UA-Compatible")

    meta(content="#da532c" name="msapplication-TileColor")
    meta(content="#ffffff" name="theme-color")

    block basicSeo
      meta(content="Страница сайта" name="description")
      meta(content="Страница сайта" name="keywords")

    meta(content="summary" name="twitter:card")
    meta(content="" name="twitter:description")
    meta(content="" name="twitter:image")

    meta(content="Страница сайта" property="og:title")
    meta(content="" property="og:description")
    meta(content="" property="og:image")

    link(
      href="/assets/images/favicons/apple-touch-icon.png"
      rel="apple-touch-icon"
      sizes="180x180"
    )
    link(
      href="/assets/images/favicons/android-chrome-192x192.png"
      rel="icon"
      sizes="192x192"
      type="image/png"
    )
    link(
      href="/assets/images/favicons/favicon-32x32.png"
      rel="icon"
      sizes="32x32"
      type="image/png"
    )
    link(
      href="/assets/images/favicons/favicon-16x16.png"
      rel="icon"
      sizes="16x16"
      type="image/png"
    )
    link(href="/assets/images/favicons/favicon.ico" rel="shortcut icon")
    link(
      color="#5bbad5"
      href="/assets/images/favicons/safari-pinned-tab.svg"
      rel="mask-icon"
    )

    block title
      title Путевка | Страница без названия

    block manifestBrowserconfigFiles
      link(href="./manifest.json" rel="manifest" crossorigin)
      meta(content="./browserconfig.xml" name="msapplication-config")

    script.
      function autorun() {}
      if (window.addEventListener) window.addEventListener("load", autorun, false);
      else window.onload = autorun;
      
    script(src="https://api-maps.yandex.ru/v3/?apikey=85de22fa-9981-42e8-8e62-8bed92d4a8b7&lang=ru_RU")
    //- bf5cab9f-4e9a-4a7b-9462-7916dda073ad

    style.
      .icon-marker {
        min-width: 48px;
        min-height: 48px;
        border-radius: 50%;
        background-color: #000;
        position: relative;
        transform: translate(-50%, -50%);
      }
    noscript.
      Похоже у вас отключён Javascript, поэтому вы видете это сообщение.

  body
    include ../components/icons
    
    .render

    include ../mixins/breadcrumbs
    include ../mixins/resort-card
    include ../mixins/sanatorium-card
    include ../mixins/button-transparent
    include ../mixins/about-types-card
    include ../mixins/about-team-card
    include ../mixins/reviews-service-rating
    include ../mixins/reviews-clients-card
    include ../mixins/reviews-clients-card-two
    include ../mixins/attractions-types-card
    include ../mixins/excursion-card
    include ../mixins/attractions-sanatorium
    include ../mixins/attractions-excursion

    include ../components/header

    block content

    include ../components/reviews/reviews-popup
    include ../components/reviews/reviews-create-popup
    include ../components/how-to-book/how-to-book-popup

    include ../components/footer

    block js